@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@import "tailwindcss";

*{
    font-family: outfit;
}
.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}